# Problem: Which Five Zip Codes Would Be Best for Investment?

This question requires us to define what is meant by "best". Careful consideration brings up two interpretations: first, proven successful investments (think the Google and Amazon of zip codes), and second, early-entry investments that are currently still priced low compared to their potential growth.

First, this project will focus on finding the top five best zip codes for each possibility in one city. Then, the same process will be carried out against the top five best zip codes throughout all the cities in the database. The rational being that the best five zipcodes will be chosen for four investor types: a) investors who prefer solid, proven investments; b) investors who prefer to maximize their gains by investing in properties that have yet to show their greatest gains; c) investors who prefer local investments; and d) investors that prefer to invest in the most profitable properties, regardless of locale.

# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd
import pandas.tseries
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import numpy as np

df = pd.read_csv('zillow_data.csv')
df.head(10)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
8,91940,77449,Katy,TX,Houston,Harris,9,95400.0,95600.0,95800.0,...,166800,167400,168400,169600,170900,172300,173300,174200,175400,176200
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

Each of the zip codes is also labeled with the nearest major metropolis. As a resident of Brooklyn, I have chosen to focus on the New York metro area, as I am familiar with it.

In [3]:
nyc_df = df[df['Metro']=='New York']
nyc_df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
10,62037,11226,New York,NY,New York,Kings,11,162000.0,162300.0,162600.0,...,860200,851000,853900,870000,885100,887800,890500,901700,930700,963200
12,62087,11375,New York,NY,New York,Queens,13,252400.0,251800.0,251400.0,...,1022600,1033700,1048600,1066400,1081200,1088800,1092700,1089500,1084000,1084600
13,62045,11235,New York,NY,New York,Kings,14,190500.0,191000.0,191500.0,...,767300,777300,788800,793900,796000,799700,806600,810600,813400,816200
20,61625,10011,New York,NY,New York,New York,21,NaN,NaN,NaN,...,12137600,12112600,12036600,12050100,12016300,11946500,11978100,11849300,11563000,11478300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14513,62305,11958,Peconic,NY,New York,Suffolk,14514,177400.0,177200.0,176900.0,...,673600,679300,675900,671400,684900,699900,700100,693200,687200,678400
14530,61831,10518,Lewisboro,NY,New York,Westchester,14531,341700.0,339700.0,337600.0,...,596000,603600,610100,617600,607200,587000,570100,554400,546700,556700
14535,62218,11739,Islip,NY,New York,Suffolk,14536,235000.0,235700.0,236500.0,...,527200,510200,495800,488400,485700,487100,487100,487900,486100,482900
14567,61948,10964,Orangetown,NY,New York,Rockland,14568,261200.0,262400.0,263400.0,...,631700,629800,624000,622300,622400,624300,625100,628000,634100,643000
14620,61817,10501,Somers,NY,New York,Westchester,14621,288000.0,288400.0,288900.0,...,600300,603700,605900,605200,603700,602300,602800,598800,594500,595400

# Step 2: Data Preprocessing

In [4]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [5]:
get_datetimes(nyc_df)

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

In [6]:
nyc_df.isnull().sum()

RegionID      0
RegionName    0
City          0
State         0
Metro         0
             ..
2017-12       0
2018-01       0
2018-02       0
2018-03       0
2018-04       0
Length: 272, dtype: int64

As we can see from the information above, fourteen of the buildings were not constructed in April of 1996. By 2015, all of the buildings were constructed.

In [7]:
unique, counts = np.unique(nyc_df['RegionName'], return_counts=True)
dict(zip(unique, counts))

{7001: 1,
 7002: 1,
 7003: 1,
 7004: 1,
 7005: 1,
 7006: 1,
 7008: 1,
 7009: 1,
 7010: 1,
 7011: 1,
 7012: 1,
 7013: 1,
 7014: 1,
 7016: 1,
 7020: 1,
 7021: 1,
 7022: 1,
 7023: 1,
 7024: 1,
 7026: 1,
 7027: 1,
 7028: 1,
 7029: 1,
 7030: 1,
 7031: 1,
 7032: 1,
 7033: 1,
 7034: 1,
 7035: 1,
 7036: 1,
 7039: 1,
 7040: 1,
 7041: 1,
 7042: 1,
 7043: 1,
 7044: 1,
 7045: 1,
 7046: 1,
 7047: 1,
 7050: 1,
 7052: 1,
 7054: 1,
 7055: 1,
 7057: 1,
 7058: 1,
 7059: 1,
 7060: 1,
 7062: 1,
 7063: 1,
 7064: 1,
 7065: 1,
 7066: 1,
 7067: 1,
 7068: 1,
 7069: 1,
 7070: 1,
 7071: 1,
 7072: 1,
 7073: 1,
 7074: 1,
 7075: 1,
 7076: 1,
 7077: 1,
 7078: 1,
 7079: 1,
 7080: 1,
 7081: 1,
 7082: 1,
 7083: 1,
 7086: 1,
 7087: 1,
 7088: 1,
 7090: 1,
 7092: 1,
 7093: 1,
 7094: 1,
 7095: 1,
 7103: 1,
 7104: 1,
 7105: 1,
 7106: 1,
 7107: 1,
 7109: 1,
 7110: 1,
 7114: 1,
 7201: 1,
 7202: 1,
 7203: 1,
 7204: 1,
 7205: 1,
 7206: 1,
 7208: 1,
 7302: 1,
 7305: 1,
 7306: 1,
 7307: 1,
 7401: 1,
 7403: 1,
 7405: 1,
 7407: 1,
 7410: 1,
 7416: 1,
 7417: 1,
 7418: 1,
 7419: 1,
 7420: 1,
 7421: 1,
 7422: 1,
 7423: 1,
 7424: 1,
 7430: 1,
 7432: 1,
 7435: 1,
 7436: 1,
 7438: 1,
 7439: 1,
 7440: 1,
 7442: 1,
 7444: 1,
 7446: 1,
 7450: 1,
 7452: 1,
 7456: 1,
 7457: 1,
 7458: 1,
 7460: 1,
 7461: 1,
 7462: 1,
 7463: 1,
 7465: 1,
 7470: 1,
 7480: 1,
 7481: 1,
 7501: 1,
 7502: 1,
 7503: 1,
 7504: 1,
 7506: 1,
 7508: 1,
 7512: 1,
 7513: 1,
 7514: 1,
 7522: 1,
 7524: 1,
 7601: 1,
 7603: 1,
 7604: 1,
 7605: 1,
 7606: 1,
 7607: 1,
 7620: 1,
 7621: 1,
 7624: 1,
 7626: 1,
 7627: 1,
 7628: 1,
 7630: 1,
 7631: 1,
 7632: 1,
 7640: 1,
 7641: 1,
 7642: 1,
 7643: 1,
 7644: 1,
 7645: 1,
 7646: 1,
 7647: 1,
 7648: 1,
 7649: 1,
 7650: 1,
 7652: 1,
 7656: 1,
 7657: 1,
 7660: 1,
 7661: 1,
 7662: 1,
 7663: 1,
 7666: 1,
 7670: 1,
 7675: 1,
 7676: 1,
 7677: 1,
 7701: 1,
 7702: 1,
 7704: 1,
 7711: 1,
 7712: 1,
 7716: 1,
 7717: 1,
 7718: 1,
 7719: 1,
 7720: 1,
 7721: 1,
 7722: 1,
 7723: 1,
 7724: 1,
 7726: 1,
 7727: 1,
 7728: 1,
 7730: 1,
 7731: 1,
 7732: 1,
 7733: 1,
 7734: 1,
 7735: 1,
 7737: 1,
 7738: 1,
 7739: 1,
 7740: 1,
 7746: 1,
 7747: 1,
 7748: 1,
 7750: 1,
 7751: 1,
 7753: 1,
 7755: 1,
 7756: 1,
 7757: 1,
 7758: 1,
 7760: 1,
 7762: 1,
 7764: 1,
 7801: 1,
 7803: 1,
 7821: 1,
 7826: 1,
 7828: 1,
 7830: 1,
 7834: 1,
 7836: 1,
 7843: 1,
 7847: 1,
 7848: 1,
 7849: 1,
 7850: 1,
 7852: 1,
 7853: 1,
 7856: 1,
 7857: 1,
 7860: 1,
 7866: 1,
 7869: 1,
 7871: 1,
 7874: 1,
 7876: 1,
 7885: 1,
 7901: 1,
 7920: 1,
 7921: 1,
 7922: 1,
 7924: 1,
 7927: 1,
 7928: 1,
 7930: 1,
 7931: 1,
 7932: 1,
 7933: 1,
 7934: 1,
 7936: 1,
 7940: 1,
 7945: 1,
 7946: 1,
 7950: 1,
 7960: 1,
 7974: 1,
 7980: 1,
 7981: 1,
 8005: 1,
 8006: 1,
 8008: 1,
 8050: 1,
 8087: 1,
 8092: 1,
 8501: 1,
 8502: 1,
 8510: 1,
 8512: 1,
 8514: 1,
 8527: 1,
 8530: 1,
 8533: 1,
 8535: 1,
 8536: 1,
 8551: 1,
 8558: 1,
 8559: 1,
 8701: 1,
 8721: 1,
 8722: 1,
 8723: 1,
 8724: 1,
 8730: 1,
 8731: 1,
 8732: 1,
 8733: 1,
 8734: 1,
 8735: 1,
 8736: 1,
 8738: 1,
 8740: 1,
 8741: 1,
 8742: 1,
 8750: 1,
 8751: 1,
 8752: 1,
 8753: 1,
 8755: 1,
 8757: 1,
 8758: 1,
 8759: 1,
 8801: 1,
 8802: 1,
 8804: 1,
 8805: 1,
 8807: 1,
 8809: 1,
 8810: 1,
 8812: 1,
 8816: 1,
 8817: 1,
 8820: 1,
 8822: 1,
 8823: 1,
 8824: 1,
 8825: 1,
 8826: 1,
 8827: 1,
 8828: 1,
 8829: 1,
 8830: 1,
 8831: 1,
 8833: 1,
 8835: 1,
 8836: 1,
 8837: 1,
 8840: 1,
 8844: 1,
 8846: 1,
 8848: 1,
 8850: 1,
 8852: 1,
 8853: 1,
 8854: 1,
 8857: 1,
 8859: 1,
 8861: 1,
 8863: 1,
 8867: 1,
 8869: 1,
 8872: 1,
 8873: 1,
 8876: 1,
 8879: 1,
 8880: 1,
 8882: 1,
 8884: 1,
 8887: 1,
 8889: 1,
 8901: 1,
 8902: 1,
 8904: 1,
 10011: 1,
 10014: 1,
 10021: 1,
 10128: 1,
 10301: 1,
 10302: 1,
 10303: 1,
 10304: 1,
 10305: 1,
 10306: 1,
 10307: 1,
 10308: 1,
 10309: 1,
 10310: 1,
 10312: 1,
 10314: 1,
 10456: 1,
 10459: 1,
 10461: 1,
 10462: 1,
 10463: 1,
 10464: 1,
 10465: 1,
 10466: 1,
 10467: 1,
 10469: 1,
 10470: 1,
 10471: 1,
 10473: 1,
 10501: 1,
 10502: 1,
 10504: 1,
 10506: 1,
 10507: 1,
 10509: 1,
 10510: 1,
 10512: 1,
 10514: 1,
 10516: 1,
 10518: 1,
 10520: 1,
 10522: 1,
 10523: 1,
 10524: 1,
 10526: 1,
 10528: 1,
 10530: 1,
 10532: 1,
 10533: 1,
 10536: 1,
 10537: 1,
 10538: 1,
 10541: 1,
 10543: 1,
 10546: 1,
 10547: 1,
 10549: 1,
 10550: 1,
 10552: 1,
 10553: 1,
 10560: 1,
 10562: 1,
 10566: 1,
 10567: 1,
 10570: 1,
 10573: 1,
 10576: 1,
 10577: 1,
 10579: 1,
 10580: 1,
 10583: 1,
 10588: 1,
 10589: 1,
 10590: 1,
 10591: 1,
 10594: 1,
 10595: 1,
 10598: 1,
 10603: 1,
 10604: 1,
 10605: 1,
 10606: 1,
 10607: 1,
 10701: 1,
 10703: 1,
 10704: 1,
 10705: 1,
 10706: 1,
 10707: 1,
 10708: 1,
 10709: 1,
 10710: 1,
 10801: 1,
 10803: 1,
 10804: 1,
 10805: 1,
 10901: 1,
 10913: 1,
 10916: 1,
 10917: 1,
 10918: 1,
 10920: 1,
 10921: 1,
 10923: 1,
 10924: 1,
 10925: 1,
 10926: 1,
 10927: 1,
 10928: 1,
 10930: 1,
 10940: 1,
 10941: 1,
 10950: 1,
 10952: 1,
 10954: 1,
 10956: 1,
 10958: 1,
 10960: 1,
 10962: 1,
 10963: 1,
 10964: 1,
 10965: 1,
 10968: 1,
 10970: 1,
 10973: 1,
 10974: 1,
 10977: 1,
 10980: 1,
 10983: 1,
 10984: 1,
 10986: 1,
 10987: 1,
 10989: 1,
 10990: 1,
 10992: 1,
 10993: 1,
 10994: 1,
 10998: 1,
 11001: 1,
 11003: 1,
 11004: 1,
 11010: 1,
 11020: 1,
 11021: 1,
 11023: 1,
 11024: 1,
 11030: 1,
 11040: 1,
 11050: 1,
 11096: 1,
 11101: 1,
 11102: 1,
 11103: 1,
 11104: 1,
 11105: 1,
 11106: 1,
 11203: 1,
 11204: 1,
 11205: 1,
 11208: 1,
 11209: 1,
 11210: 1,
 11211: 1,
 11212: 1,
 11214: 1,
 11215: 1,
 11216: 1,
 11217: 1,
 11218: 1,
 11219: 1,
 11220: 1,
 11221: 1,
 11222: 1,
 11223: 1,
 11224: 1,
 11226: 1,
 11228: 1,
 11229: 1,
 11230: 1,
 11231: 1,
 11233: 1,
 11234: 1,
 11235: 1,
 11236: 1,
 11238: 1,
 11354: 1,
 11355: 1,
 11356: 1,
 11357: 1,
 11358: 1,
 11360: 1,
 11361: 1,
 11362: 1,
 11363: 1,
 11364: 1,
 11365: 1,
 11366: 1,
 11367: 1,
 11368: 1,
 11369: 1,
 11370: 1,
 11372: 1,
 11373: 1,
 11374: 1,
 11375: 1,
 11377: 1,
 11378: 1,
 11379: 1,
 11385: 1,
 11411: 1,
 11412: 1,
 11413: 1,
 11414: 1,
 11415: 1,
 11416: 1,
 11417: 1,
 11418: 1,
 11419: 1,
 11420: 1,
 11421: 1,
 11422: 1,
 11423: 1,
 11426: 1,
 11427: 1,
 11428: 1,
 11429: 1,
 11432: 1,
 11433: 1,
 11434: 1,
 11435: 1,
 11436: 1,
 11501: 1,
 11507: 1,
 11509: 1,
 11510: 1,
 11514: 1,
 11516: 1,
 11518: 1,
 11520: 1,
 11530: 1,
 11545: 1,
 11550: 1,
 11552: 1,
 11553: 1,
 11554: 1,
 11557: 1,
 11558: 1,
 11559: 1,
 11560: 1,
 11561: 1,
 11563: 1,
 11565: 1,
 11566: 1,
 11568: 1,
 11569: 1,
 11570: 1,
 11572: 1,
 11575: 1,
 11576: 1,
 11577: 1,
 11579: 1,
 11580: 1,
 11581: 1,
 11590: 1,
 11596: 1,
 11598: 1,
 11691: 1,
 11692: 1,
 11694: 1,
 11701: 1,
 11702: 1,
 11703: 1,
 11704: 1,
 11705: 1,
 11706: 1,
 11709: 1,
 11710: 1,
 11713: 1,
 11714: 1,
 11715: 1,
 11716: 1,
 11717: 1,
 11718: 1,
 11719: 1,
 11720: 1,
 11721: 1,
 11722: 1,
 11724: 1,
 11725: 1,
 11726: 1,
 11727: 1,
 11729: 1,
 11730: 1,
 11731: 1,
 11732: 1,
 11733: 1,
 11735: 1,
 11738: 1,
 11739: 1,
 11740: 1,
 11741: 1,
 11742: 1,
 11743: 1,
 11746: 1,
 11747: 1,
 11749: 1,
 11751: 1,
 11752: 1,
 11753: 1,
 11754: 1,
 11755: 1,
 11756: 1,
 11757: 1,
 11758: 1,
 11762: 1,
 11763: 1,
 11764: 1,
 11766: 1,
 11767: 1,
 11768: 1,
 11769: 1,
 11771: 1,
 11772: 1,
 11776: 1,
 11777: 1,
 11778: 1,
 11779: 1,
 11780: 1,
 11782: 1,
 11783: 1,
 11784: 1,
 11786: 1,
 11787: 1,
 11788: 1,
 11789: 1,
 11790: 1,
 11791: 1,
 11792: 1,
 11793: 1,
 11795: 1,
 11796: 1,
 11797: 1,
 11798: 1,
 11801: 1,
 11803: 1,
 11804: 1,
 11901: 1,
 11930: 1,
 11932: 1,
 11933: 1,
 11934: 1,
 11935: 1,
 11937: 1,
 11940: 1,
 11941: 1,
 11942: 1,
 11944: 1,
 11946: 1,
 11948: 1,
 11949: 1,
 11950: 1,
 11953: 1,
 11955: 1,
 11958: 1,
 11959: 1,
 11961: 1,
 11963: 1,
 11964: 1,
 11967: 1,
 11968: 1,
 11971: 1,
 11975: 1,
 11976: 1,
 11977: 1,
 11980: 1,
 12508: 1,
 12514: 1,
 12518: 1,
 12520: 1,
 12522: 1,
 12524: 1,
 12531: 1,
 12533: 1,
 12538: 1,
 12540: 1,
 12543: 1,
 12545: 1,
 12546: 1,
 12549: 1,
 12550: 1,
 12553: 1,
 12563: 1,
 12564: 1,
 12567: 1,
 12569: 1,
 12570: 1,
 12571: 1,
 12572: 1,
 12575: 1,
 12577: 1,
 12578: 1,
 12580: 1,
 12581: 1,
 12582: 1,
 12583: 1,
 12586: 1,
 12590: 1,
 12594: 1,
 12601: 1,
 12603: 1,
 12729: 1,
 12771: 1,
 18328: 1,
 18336: 1,
 18426: 1,
 18428: 1,
 18435: 1,
 18464: 1}

As we can see from the above list of zipcodes, there is only one property represented per zipcode. This ensures a balanced analysis, as there is an even number of properties across zipcodes. The downside is that a single property may not be a true representation of an entire zipcode.

In [8]:
nyc_df = nyc_df.dropna()

In [9]:
nyc_df['1996-04']

6         152900.0
10        162000.0
12        252400.0
13        190500.0
21       3676700.0
           ...
14513     177400.0
14530     341700.0
14535     235000.0
14567     261200.0
14620     288000.0
Name: 1996-04, Length: 765, dtype: float64

# Step 3: EDA and Visualization

As we saw above, some of the zip codes were represented by buildings that were not yet constructed in April 1996 (hence the null values). The next step is to find the top five properties with the largest difference between their original value and their respective values in April 2018.

In [10]:
top_five_df_1996 = []
for i in nyc_df:
    nyc_df_diff = nyc_df['2018-04'] - nyc_df['1996-04']
    top_five_df_1996.append(nyc_df_diff)

pct_diff_1996 = (nyc_df_diff / nyc_df['1996-04'])
pct_diff_1996.nlargest(5)

117     11.189940
1155    10.535523
475      9.942505
191      9.403061
106      8.941958
dtype: float64

In [12]:
top_five_df_1996 = []
for i in nyc_df:
    nyc_df_1996 = (nyc_df['2018-04'] - nyc_df['1996-04'])/nyc_df['1996-04']
    top_five_df_1996.append(nyc_df_1996)

nyc_df_1996.nlargest(5)

117     11.189940
1155    10.535523
475      9.942505
191      9.403061
106      8.941958
dtype: float64

In [11]:
top_five_df_2005 = []
for i in nyc_df:
    nyc_df_diff = nyc_df['2018-04'] - nyc_df['2005-04']
    top_five_df_2005.append(nyc_df_diff)

pct_diff_2005 = (nyc_df_diff / nyc_df['2005-04'])
pct_diff_2005.nlargest(5)

475      2.492899
117      2.372871
1155     2.268325
70       1.663027
13864    1.503284
dtype: float64

In [12]:
top_five_df_2014 = []
for i in nyc_df:
    nyc_df_diff = nyc_df['2018-04'] - nyc_df['2014-04']
    top_five_df_2014.append(nyc_df_diff)

pct_diff_2014 = (nyc_df_diff / nyc_df['2014-04'])
pct_diff_2014.nlargest(5)

660     1.063162
7007    1.012085
475     0.928003
1737    0.922617
190     0.880627
dtype: float64

In [13]:
pct_diff_2014.nlargest(12)

660     1.063162
7007    1.012085
475     0.928003
1737    0.922617
190     0.880627
191     0.832927
1155    0.805223
8495    0.761101
70      0.747542
2043    0.729818
519     0.718695
1065    0.717151
dtype: float64

In [15]:
top_9_pct_diff=nyc_df.loc[[106, 117, 190, 191, 475, 660, 1155, 1737, 7007], '1996-04':'2018-04']
top_9_pct_diff

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
106,225700.0,227500.0,229400.0,231600.0,234100.0,236900.0,239800.0,242900.0,246400.0,249800.0,...,2173600,2201100,2244400,2266100,2275800,2287100,2288900,2265300,2244900,2243900
117,133200.0,132900.0,132500.0,132200.0,131800.0,131600.0,131500.0,131800.0,132400.0,133100.0,...,1405100,1406400,1424700,1435300,1440500,1463100,1496100,1531100,1581900,1623700
190,124500.0,124500.0,124500.0,124500.0,124700.0,124800.0,125200.0,125500.0,125900.0,126600.0,...,788800,788000,787100,797100,808400,809800,800800,806100,829200,852300
191,137200.0,137800.0,138500.0,139100.0,139600.0,140100.0,140700.0,141400.0,142300.0,143500.0,...,1340200,1372300,1411000,1435900,1446300,1447800,1454900,1453900,1439500,1427300
475,146100.0,146600.0,147200.0,147700.0,148400.0,149300.0,150200.0,151300.0,152700.0,154100.0,...,1452000,1506100,1553100,1567700,1559700,1545700,1540200,1553600,1578400,1598700
660,111400.0,111100.0,110900.0,110600.0,110300.0,110000.0,109700.0,109400.0,109300.0,109400.0,...,465400,469800,475900,484000,495800,506700,510000,515300,531900,545500
1155,149200.0,148400.0,147500.0,146600.0,146000.0,145600.0,145400.0,145600.0,146100.0,146600.0,...,1598000,1623800,1638700,1640400,1644100,1651200,1661800,1672800,1694000,1721100
1737,114300.0,114300.0,114400.0,114500.0,114800.0,115200.0,115700.0,116300.0,117100.0,117900.0,...,439500,449000,458300,468100,478200,487300,496000,510600,531900,546600
7007,230300.0,230800.0,231500.0,232200.0,233100.0,234100.0,235100.0,236100.0,237300.0,238300.0,...,1591400,1600300,1599200,1608000,1632200,1679800,1736600,1749800,1727300,1714900

In [19]:
top_9_pct_diff = top_9_pct_diff.astype(int)
top_9_pct_diff

,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,1997-01,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
106,225700,227500,229400,231600,234100,236900,239800,242900,246400,249800,...,2173600,2201100,2244400,2266100,2275800,2287100,2288900,2265300,2244900,2243900
117,133200,132900,132500,132200,131800,131600,131500,131800,132400,133100,...,1405100,1406400,1424700,1435300,1440500,1463100,1496100,1531100,1581900,1623700
190,124500,124500,124500,124500,124700,124800,125200,125500,125900,126600,...,788800,788000,787100,797100,808400,809800,800800,806100,829200,852300
191,137200,137800,138500,139100,139600,140100,140700,141400,142300,143500,...,1340200,1372300,1411000,1435900,1446300,1447800,1454900,1453900,1439500,1427300
475,146100,146600,147200,147700,148400,149300,150200,151300,152700,154100,...,1452000,1506100,1553100,1567700,1559700,1545700,1540200,1553600,1578400,1598700
660,111400,111100,110900,110600,110300,110000,109700,109400,109300,109400,...,465400,469800,475900,484000,495800,506700,510000,515300,531900,545500
1155,149200,148400,147500,146600,146000,145600,145400,145600,146100,146600,...,1598000,1623800,1638700,1640400,1644100,1651200,1661800,1672800,1694000,1721100
1737,114300,114300,114400,114500,114800,115200,115700,116300,117100,117900,...,439500,449000,458300,468100,478200,487300,496000,510600,531900,546600
7007,230300,230800,231500,232200,233100,234100,235100,236100,237300,238300,...,1591400,1600300,1599200,1608000,1632200,1679800,1736600,1749800,1727300,1714900